/**
 *
 * @author Vincent Liu
 */

.button {
    -fx-text-fill:white;
    -fx-font-family:"Arial";
    -fx-font-size: 14px;
    -fx-font-weight:bold;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);
    -fx-background-radius: 8.0;
}

.root{
    -fx-background-color: lightgrey;
    -fx-padding: 15;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-radius: 5.0;
}

.simControlPanel{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-hgap: 35;
    -fx-vgap: 15;
    -fx-padding: 5 30 5 30;
}

.modelPanel{
    -fx-border-width: 2px;
}

.simPanel{
    -fx-border-color: black;
}