/**
 *
 * @author Vincent Liu
 * @author Inchan Hwang
 */

.button {
    -fx-text-fill:white;
    -fx-font-family:"Arial";
    -fx-font-size: 14px;
    -fx-font-weight:bold;
    -fx-pref-width: 100px;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);
}

.button:hover {
    -fx-background-color:linear-gradient(#5192a1,#1A4048);
}

.root{
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-radius: 5.0;
}

.simControlPanel{
    -fx-hgap: 35;
    -fx-vgap: 15;
    -fx-padding: 15 30 15 30;
}

.simControlPanelWrapper {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-alignment: center;
}

.modelPanel{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 3px;
}

.simPanel {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.scroll-pane {
    -fx-background-color: white;
}

.combo-choice{
    -fx-vgap: 12;
}

.line-chart {
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-legend-visible: true;
    -fx-legend-side: right;
}

.chart-box {
    -fx-alignment: middle center;
}