
.button {
    -fx-text-fill:white;
    -fx-font-family:"Arial";
    -fx-font-size: 14px;
    -fx-font-weight:bold;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);
    -fx-background-radius: 8.0;
}


.root{
    -fx-background-color: lightgrey;}